---
import Common from "../layouts/Common.astro";
import Hero from "../components/portfolio/sections/Hero.svelte";
import AboutMe from "../components/portfolio/sections/AboutMe.svelte";
import Projects from "../components/portfolio/sections/Projects.svelte";
import Experience from "../components/portfolio/sections/Experience.svelte";

import { getCollection } from "astro:content";
import RecentBlogPosts from "../components/portfolio/sections/RecentBlogPosts.svelte";

const experience = await getCollection("experience");
---

<Common title="{SITE_TITLE}" description="{SITE_DESCRIPTION}">
  <div class="max-w-6xl mx-auto flex flex-col gap-10 my-10">
    <Hero client:load />
    <AboutMe />
    <Projects />
    <Experience data={experience} />
    <RecentBlogPosts />
  </div>
</Common>
